@use '../../partials/abstracts' as *;
@use '../../partials/fonts' as *;
@use '../../partials/global' as *;
@use '../../partials/variables' as *;

.sheltersMap__Container {
  height: 40vw;
  width: 30rem;
  box-shadow: #0000002d 0px 16px 48px 0px;
  animation: fadeIn 0.5s ease-out forwards;
}

.container {
  width: 50%;
  height: 30rem;
  overflow-y: auto;
  padding: 20px;
  display: inline;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 hwb(0 0% 100% / 0.2);
  background-color: white;
  box-shadow: #0000002d 0px 16px 48px 0px;
}

.marker-btn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.popup {
  animation: fadeIn 0.5s ease-out forwards;

  &__div {
    animation: fadeIn 0.5s ease-out forwards;
    overflow: none;
    height: 100%;
    display: flex;
    flex-direction: row;

    @include mobile {
      width: max-content;
      height: fit-content;
      align-items: start;
      zoom: 0.7;
    }

    @include tablet {
      zoom: 0.7;
    }

    &-header {
      font-size: 1.3rem;
      color: white;
    }

    &-subheader-1 {
      font-size: 1rem;
      color: ghostwhite;
      font-family: Verdana;
      color: white;
      width: 9rem;
    }

    &-subheader-2 {
      font-size: 1rem;
      color: ghostwhite;
      font-family: Verdana;
      color: white;
      background-color: #364156;
      padding: 0.5rem;
    }

    &-text {
      margin-bottom: 1rem;
      color: ghostwhite;
      font-size: 1.1rem;
      font-family: 'Avenir Next';
      font-weight: 400;
      letter-spacing: 0.6px;
      background: #7d4e57;
      padding: 0.5rem;
      font-family: 'League Spartan SemiBold';

      @include mobile {
        // margin-bottom: 0.9rem;
      }
    }
  }

  &__div-top {
    // height: 3rem;
    animation: fadeIn 0.5s ease-out forwards;
    width: 10rem;
    align-self: center;
    margin: 0.7rem;
  }

  &__div-bottom {
    min-height: auto;
    animation: fadeIn 0.5s ease-out forwards;
    width: 10rem;
  }

  &__btn-Directions {
  }
}

.popup-availability {
  color: #d66853;
  font-size: 1.1rem;
  margin-left: 0.4rem;
}

.popup__button-directions {
  min-width: -webkit-max-content;
  text-transform: uppercase;
  white-space: normal;
  text-align: center;
  padding: 0.5rem;
  border: 1px solid #727272;
  transition: all 0.3s ease;
  border-radius: 5px;
  color: white;
  background-color: #232427;
  cursor: pointer;
  width: 100%;

  @include mobile {
    padding: 0.5rem 1rem;
    width: max-content;
  }
  &:hover {
    border: 1px solid white;
    background-color: #2f4066;
    color: white;
    border: 1px solid #ffffffc9;
  }
}

.popup__button-directions-text {
  font-family: 'Avenir Next';
  font-size: 1rem;
}

.directions-icon {
  height: 0.9rem;
  color: white;
  margin-right: 0.4rem;
  display: inline;

  @include mobile {
    height: 0.7rem;
  }
}

.location-icon {
  // background-size: cover;
  // background-color: $pastel-grey;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  cursor: pointer;
  animation-duration: 2s;
  transform-origin: bottom;
  animation-name: fadeIn;
  animation-timing-function: ease;

  &:hover {
    // animation: fadeIn 0.5s ease-out forwards;
    animation-timing-function: ease;
  }
}

.mapboxgl-popup-close-button {
  font-size: 2rem;
  // padding: 1rem;
  border-radius: 40px;
  // background-color: grey;
  color: white;
  place-self: end;
  width: 1.5rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  place-content: center;
}

.mapboxgl-popup-anchor-bottom-left {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.mapboxgl-popup-content {
  // border-radius: 40px;
  box-shadow: 0 1px 2px #0000001a;
  pointer-events: auto;
  position: relative;
  animation: fadeIn 0.5s ease-out forwards;
  background-color: #4c4c47;
  backdrop-filter: blur(18.5px);
  // border-left: 25px solid #232323;
  // border-left: 25px solid #353333;
  border-radius: 10px;
  box-shadow: 0 0 14px 5px #999999;
  min-width: -webkit-fit-content;
  min-height: -webkit-fit-content;
  display: flex;
  flex-direction: column;
  font-variant-caps: all-petite-caps;
  border-left: 25px solid #d66853;
  background: #212d40;
  align-self: center;

  @include mobile {
    line-height: 1rem;
    padding: 0.7rem 1rem 0.7rem 0.5rem;
  }

  @include tablet {
    padding: 1rem 2rem 1rem 2rem;
  }

  @include desktop {
    padding: 1.5rem 2rem 1.5rem 2rem;
  }
}

.mapboxgl-map {
  box-shadow: #ffffff2d 0px 16px 48px 0px;
  animation: fadeIn 1s ease-out forwards;
}

.mapboxgl-canvas {
  width: 90%;
}

.popup-availability {
  margin-bottom: 0.7rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-35px);
  }
  100% {
    transform: translateY(0);
  }
}
