@use '../../partials/abstracts' as *;
@use '../../partials/fonts' as *;
@use '../../partials/global' as *;
@use '../../partials/variables' as *;

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: $pastel-blue2;
  width: fit-content;
}

a:active {
  transition: all 0.4s ease-in-out;
  background-color: #cca6af;
  color: white;
}
a:hover {
  @include hover-effect(#dde2ed);
}
// .resources__section {
// }

.resources__div {
  padding: 4rem;
  display: flex;
  justify-content: center;

  @include mobile {
    padding: 4rem;
    display: grid;
    place-items: center;
  }

  &-header {
    padding-top: 6rem;
    padding-left: 11rem;
    justify-content: end;
    color: $pastel-blue2;
    font-size: 2.5rem;
    font-weight: 800;
    padding-left: 1.5rem;
    padding-top: 1rem;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;
  width: 90%;
  justify-items: center;

  @include mobile {
    grid-template-columns: repeat(2, minmax(40px, 200px));
    row-gap: 5vw;
    column-gap: 30vw;
    justify-content: center;
  }
}

.grid__item {
  border: 1px solid rgba(0, 0, 0, 0.185);
  padding: 1rem;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.5);
  width: 15rem;
  height: 15rem;
  border-radius: 10px;
  display: grid;
  place-content: space-between;

  @include mobile {
    padding: 0.5rem;
    width: 34vw;
    height: 34vw;
    border-radius: 10px;
    place-content: center;
  }

  &-header {
    font-size: 1.3rem;
    font-weight: 800;
    color: $pastel-blue2;
    text-align: center;
    padding-top: 1rem;

    @include mobile {
      font-size: 3.3vw;
    }

    &:hover {
      @include hover-effect(#dde2ed);
    }
  }

  &-text {
    font-size: 1rem;
    font-weight: 400;
    color: #5870a9;

    margin-top: 1rem;
    align-items: end;
    place-self: self-end;

    @include mobile {
      display: none;
    }
  }
}
