@use '../../partials/abstracts' as *;
@use '../../partials/fonts' as *;
@use '../../partials/global' as *;
@use '../../partials/variables' as *;

a:visited,
a:link,
a:active {
  text-decoration: none;
  width: fit-content;
  max-height: 15rem;
}

a:active,
a:hover {
  transition: all 0.4s ease-in-out;
  border-radius: 20px;
  transform: scale(1.01);
}

* {
  transition: font-size 0.2s ease-in-out;
}
.resources__section {
  z-index: 2;
  position: relative;
  background-color: #1b2021;
  z-index: -2;


  @include mobile {
    // height: 120rem;
    position: relative;
    z-index: -2;
  }

  @include tablet {
  }

  @include desktop {
  }
}

.resources__div {
  padding: 4rem;
  display: flex;
  justify-content: center;
  min-height: 925px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include mobile {
    padding: 4rem;
    display: grid;
    place-items: center;
  }

  &-header {
    padding-top: 1rem;
    letter-spacing: 3px;
    justify-content: end;
    color: white;
    font-size: 4vw;
    font-weight: 800;
    padding-left: 1.5rem;
    text-transform: uppercase;
    font-size: 3rem;
    z-index: -1;

    @include mobile {
      font-size: 3rem;
    }
  }
}

.grid-container {
  display: grid;
  width: 90%;
  justify-items: center;

  @include mobile {
    grid-template-columns: repeat(1, minmax(40px, 200px));
    row-gap: 1.5rem;
    // padding:5rem;
    column-gap: 14rem;
    justify-content: center;
  }

  @include tablet {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
    column-gap: 1rem;
  }

  @include desktop {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.grid__item {
  padding: 1rem;
  box-shadow: 0 3px 7px 0 #00000080;
  width: 16rem;
  height: 16rem;
  border-radius: 20px;
  display: grid;
  place-content: space-between;
  // backdrop-filter: blur(15px);
  font: small-caption;
  position: relative;
  z-index: -1;
  background: linear-gradient(45deg, #b27474, #8789ae);
  background-size: cover;

  &:hover {
    border-radius: 20px;
    border: 2px solid ghostwhite;
    box-shadow: 0px 0px 10px 0 #cca6af;
    scale: (1.05);
    transition: all 0.5s ease-in-out;
    margin: -0.1rem;
  }

  @include mobile {
    padding: 3rem;
    width: 22.5rem;
    height: 5rem;
    border-radius: 10px;
    place-content: center;
    z-index: -1;
    position: relative;
  }

  @include desktop {
    // transform: scale(1);
    transition:
      border-radius 800ms ease,
      background-color 800ms ease,
      transform 800ms ease;
    transition:
      background 0.4s ease-in-out,
      transform 0.4s ease-in-out,
      border-radius 0.4s ease-in-out;


  }

  &-header {
    font-weight: 800;
    color: #ffffff;
    text-align: center;
    padding-top: 1rem;
    // padding: 1rem;
    text-transform: uppercase;
    font-size: 1.15rem;

    @include mobile {
    }

    @include tablet {
    }

    @include desktop {
    }
  }

  &-text {
    font-size: 1rem;
    color: #d9d9d9;
    margin-top: 1.4rem;
    align-items: end;
    place-self: self-end;
    letter-spacing: 0.2px;
    word-wrap: normal;
    line-height: 1.3rem;


    @include mobile {
      display: none;

    }

    @include tablet {
      display: contents;
    }

    @include desktop {
      display: contents;
      margin: 10rem;

      &:hover {
        color: white;
      }
    }
  }
}
