@use '../../partials/abstracts' as *;
@use '../../partials/fonts' as *;
@use '../../partials/global' as *;
@use '../../partials/variables' as *;

.parallax {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include mobile {
    height: 56rem;
    background-attachment: fixed;

  }

  @include tablet {
    height: 70rem;
    background-attachment: fixed;
  }

  @include desktop {
    height:900px;
    background-attachment: fixed;

  }
}