@use '../../partials/abstracts' as *;
@use '../../partials/fonts' as *;
@use '../../partials/global' as *;
@use '../../partials/variables' as *;

.mealsTimeline-container {
  -webkit-overflow-scrolling: touch; // Improves scrolling on iOS devices
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    // NEED TO FIX THIS
    display: none; //  hides the scrollbar
  }

  @include mobile {
  }

  @include tablet {
  }

  @include desktop {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: center;
  }
}

.mealsTimeline-upper {
  display: flex;
  flex-direction: column;
}

.mealsTimeline-live-clock-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.mealsTimeline-live-clock {
  font-size: 2rem;
  color: white;
  text-align: center;
  font-family: 'Toronto Subway';
  letter-spacing: 1.4px;
  line-height: 2.1rem;
  // width: 25rem;

  @include mobile {
    min-width: 15rem; // needed to fix 'width-glitch' as the clock updates
    max-width: 15rem;
    font-size: 1.1rem;
    line-height: 1.4rem;
  }

  @include tablet {
    font-size: 1.4rem;
    min-width: 20rem; // needed to fix 'width-glitch' as the clock updates
    max-width: 20rem;
  }

  @include desktop {
    min-width: 27rem; // needed to fix 'width-glitch' as the clock updates
    max-width: 27rem;
    place-self: center;
  }
}

.mealsTimeline-toggle-view {
  width: 100%;
  place-content: center;
}

.ant-radio-group {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.toggle-view-button {
  text-align: center;
  align-content: center;
  background-color: #0f0f0f;
  color: white;
  font-family: 'Ostrich Heavy';

  @include mobile {
    width: 45vw;
    font-size: 1.1rem;
  }

  @include tablet {
    width: 20rem;
    font-size: 1.1rem;
  }

  @include desktop {
    width: 30rem;
    height: 3rem;
    font-size: 1.5rem;
  }

  &:hover {
    background-color: rgb(230, 230, 239);
    color: #20242c;
    transition: all 0.3s ease-in-out;
  }
}

.toggle-live-submenu {
  width: 50%;
  place-content: center;
  display: flex;
  flex-direction: column;
}

.toggle-live-submenu-item {
  @include mobile {
    width: 22vw;
    font-size: 1.1rem;
  }

  @include tablet {
    width: 10rem;
    font-size: 1.1rem;
  }

  @include desktop {
    width: 11.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
  }

  &:hover {
    background-color: rgb(230, 230, 239);
    color: #20242c;
    transition: all 0.3s ease-in-out;
  }
}

.ant-radio-button-checked {
  background: ghostwhite;
  border-radius: 10px;
}

.timeline-container {
  height: 75vh;
  overflow-y: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  color: white;
  overflow-x: auto;
  white-space: nowrap;
  position: relative;

  @include mobile {
  }

  @include tablet {
    padding: 1rem;
  }

  @include desktop {
    padding: 1rem;
  }
}

.timeline-wrapper {
  position: relative;
  overflow-x: auto;
  display: flex;
  flex-direction: column;

  @include mobile {
    width: 100%;
  }

  @include tablet {
    width: 100%;
    padding: 1rem;
  }

  @include desktop {
    padding: 1rem;
    width: 100%;
  }
}

.timeline-wrapper__header {
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Toronto Subway Bold';
  border-bottom: 1px solid white;
  padding-bottom: 1rem;
}

.timeline-item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 8rem;
  margin: 1rem 0;
  gap: 1rem;
  row-gap: 1rem;

  @include mobile {
    gap: 0.5rem;
  }

  @include tablet {
    padding: 1rem;
  }

  @include desktop {
    padding: 1rem;
  }

  &:hover {
    background-color: #20242c;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
  }
}

.timeline-divider {
  width: 5px;
  height: 100%;
  margin: 1.5rem;
  background-color: #6232c1;
  border: none;
}

.timeline-item-time {
  width: 10%;
  text-align: right;
  margin-right: 1rem;
  font-weight: bold;
  color: white;
}

.timeline-item-content {
  width: 40%;
  // border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: -webkit-fill-available;
  text-wrap: wrap;

  @include mobile {
    font-size: 0.9rem;
    padding-bottom: 1rem;
    line-height: 1.2rem;
  }

  @include tablet {
    padding: 1.5rem;
  }

  @include desktop {
    padding: 1.5rem;
  }
}

// .timeline-item-content-h3 {

// }

// .timeline-item-content-title {

// }

// .timeline-item-content-subtitle {

// }

// .timeline-item-content-text {

// }

.mealsTimeline-moment-h1 {
  color: white;
  text-align: center;
}

.previous-event-container,
.current-event-container,
.next-event-container {
  // event card containers
  margin: 1rem;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white;
  text-align: center;
  // height: 20rem;
  // overflow: auto;

  @include mobile {
    margin: 0rem;
    padding: 0.6rem 0.5rem;
    display: flex;
    align-items: end;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

.previous-event-container {
  border: 2px solid gray;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(128, 128, 128, 0.1);
  width: 25vw;

  @include mobile {
    width: 100%;
    position: sticky;
    display: none;
  }

  @include tablet {
    display: none;
  }
}

.current-event-container {
  border: 1px solid black;
  background-color: #0c4527;
  width: 30vw;
  text-align: -webkit-center;

  @include mobile {
    width: 100%;
    position: sticky;
  }

  @include tablet {
    width: 100%;
  }
}

.next-event-container {
  border: 2px solid #c79c04;
  background-color: #c79d04;
  color: white;
  width: 30vw;
  text-align: -webkit-center;
  place-items: center;

  @include mobile {
    width: 100%;
    position: sticky;
  }

  @include tablet {
    width: 100%;
  }
}

.previous-event-header,
.current-event-header,
.next-event-header {
  // event card headers
  font-size: 1.5rem;
  font-weight: 600;

  @include mobile {
    font-size: 1rem;
    width: 9.9rem;
    place-self: center;
  }

  @include tablet {
    margin-bottom: 1.2rem;
    font-size: 1.3rem;
  }

  @include desktop {
    // margin-bottom: 1.2rem;
  }
}

.current-event-subtext,
.next-event-subtext {
  place-self: center;
}

.mealsTimeline-ant-collapse {
  color: white;
  font-family: 'DT Black';
  text-align: center;

  @include mobile {
    width: 80%;
    padding: 0rem;
  }

  @include tablet {
    width: 100%;
  }

  @include desktop {
    width: 100%;
  }
}
.mealsTimeline-ant-collapse-header {
  color: white;
  align-items: baseline;
}

.ant-collapse-item,
.ant-collapse-header {
  // padding: 0.2rem !important;
}

.ant-collapse-header-text {
  // ant dropdown header text
  color: white;
  font-family: 'DT Black';
  text-align: left;
  text-transform: uppercase;
  align-items: center;
  display: flex;

  @include mobile {
    font-size: 0.8rem;
    letter-spacing: 1.6px;
    align-self: end;
  }

  @include tablet {
    font-size: 1rem;
    padding: 0rem 0.25rem;
  }

  @include desktop {
    font-size: 1.12rem;
    padding: 0rem 0.25rem;
  }
}

.collapse__title {
  width: 100%;
  text-align: center;

  @include mobile {
    padding-left: 2rem;
  }
  @include tablet {
    padding-left: 2rem;
    width: 35vw;
  }
  @include desktop {
    padding-left: 2rem;
  }
}

.collapse__distance {
  font-family: 'Avenir Next';
  font-size: 0.75rem;
  font-style: italic;
  text-transform: lowercase;
  justify-content: start;
  position: absolute;
  margin-left: 0.3rem;
  margin-bottom: 0.3rem;
  font-weight: 600;
  font-family: 'League Spartan Regular';
}

.mealsTimeline-distance-popover .ant-popover-inner {
  // width: 1rem;
}

.ant-collapse-expand-icon {
  // targets expand icon (arrow)

  color: white;
  order: 2;

  @include mobile {
    padding-inline-end: 0px !important;
    padding-left: 0.5rem;
  }
}

.current-ant-collapse-inner {
  background-color: #20242c;
  color: white;
}

.directions-button {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid ghostwhite;
  border-radius: 5px;
  padding: 0.3rem 5rem;
  font-size: 0.9rem;
  color: ghostwhite;
  font-family: 'Avenir Next';
  font-weight: 600;

  &:hover {
    background-color: ghostwhite;
    color: #0f0f0f;
    border: 1px solid #0f0f0f;
    transition: all 0.3s ease-in-out;
  }
}

.is-ended {
  filter: brightness(0.5);
  &:hover {
    background-color: #5e5e5e;
    border-radius: 8px;
    transition: all 0.15s ease-in-out;
  }
}

.happening-now {
  border: 1px solid green;
  background-color: #0c4527;
  animation: pulse 1.5s infinite;
  border-radius: 10px;
  width: auto;

  @include mobile {
    padding: 6rem 0.7rem;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #0c4527;
  }
  70% {
    box-shadow: 0 0 0 12px rgba(255, 165, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 165, 0, 0);
  }
}

.mealsTimeline-live-event-container {
  position: relative;
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  place-items: center;

  text-align: center;
}

.event-card {
  position: absolute;
  width: 90%;
  max-width: 500px;
  transition:
    opacity 0.6s,
    transform 0.6s;
  opacity: 0;
  transform: translateX(0) translateY(0);
  // box-shadow: 0 4px 8px rgba(135, 135, 135, 0.9);
  border-radius: 10px;
}

.event-card.active {
  z-index: 2;
  opacity: 1;
  animation: slideIn 0.6s forwards;
}

.event-card.inactive {
  z-index: 1;
  opacity: 0.9;
  animation: slideOut 0.6s forwards;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-100%) translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(-10px) translateY(-10px);
  }
}

@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translateX(-10px) translateY(-10px);
  }
  100% {
    opacity: 0;
    transform: translateX(100%) translateY(10px) translateZ(-100%);
  }
}

.toggle-view-secondary-button {
  // margin: 1rem 0;
  // padding: 1rem 1.5rem;
  // background-color: #1890ff;
  // color: white;
  // border: none;
  // cursor: pointer;
  // border-radius: 4px;
  // transition: background-color 0.3s ease;
  cursor: pointer;
  padding: 0.25rem;

  background-color: #0f0f0f;
  border: 1px solid ghostwhite;
  border-radius: 5px 0 5px 0;
  font-family: 'Ostrich Heavy';
  color: ghostwhite;
  margin-top: 0.25rem;

  &:hover {
    color: #0f0f0f;
    background-color: ghostwhite;
  }

  @include mobile {
    width: 50%;
    font-size: 1rem;
    margin-left: 0.1rem;
    margin-bottom: 2rem;
  }

  @include tablet {
    width: 20rem;
    font-size: 1rem;
    margin-bottom: 2rem;
  }

  @include desktop {
    width: 50%;
    height: 3rem;
    font-size: 1rem;
    margin-bottom: 2rem;
  }

  &:hover {
    background-color: rgb(230, 230, 239);
    color: #20242c;
    transition: all 0.3s ease-in-out;
  }
}

.mealsTimeline-live-toggle-view {
  width: 100%;
  display: flex;
  justify-content: center;
}

.toggle-live-subfilter {
  width: 100%;
  display: flex;
  justify-content: center;
  // margin: 0.5rem 0.5rem;
  text-align: center;
  align-content: center;
  transition: background-color 0.3s ease;
}
