@use '../../partials/abstracts' as *;
@use '../../partials/fonts' as *;
@use '../../partials/global' as *;
@use '../../partials/variables' as *;

.mealsTimeline-container { // actual container for timeline
  width: 100%;
  display: flex;
  justify-content: center;

  scroll-behavior: smooth;
  place-self: center;
  -webkit-overflow-scrolling: touch; // Improves scrolling on iOS devices

  &::-webkit-scrollbar {
    display: none; //  hides the scrollbar
  }

  @include mobile {
    width: 90vw;
  }

  @include tablet {
    // width: 80vw;
    width: 100%;

  }

  @include desktop {

  }
}

.mealsTimeline-half {
  display: flex;
  flex-direction: column;

  @include tablet {
    width: 100%;
  }

  @include desktop {
    width: 55%;
  }
}

.mealsTimeline-live-clock {
  color: white;
  text-align: center;
  font-family: 'Toronto Subway';
  letter-spacing: 1.3px;
  line-height: 2.1rem;
  place-self: center;
  // width: 23rem;
}

.mealsTimeline-live-event-container {
  display: flex;
  text-align: center;
  justify-content: center;

  @include mobile {
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem 0;
  }

  @include tablet {
    flex-direction: row;
  }

  @include desktop {
    flex-direction: column;
  }
}

.timeline-container {
  height: 60vh;
  overflow-y: auto;
  // width: 100%;
  display: flex;
  justify-content: center;
  // margin: 1rem 0;
  color: white;
  overflow-x: auto;
  white-space: nowrap;
  position: relative;

  @include mobile {
  }

  @include tablet {

  }

  @include desktop {
    width: 100%;

  }
}

.timeline-wrapper {
  position: relative;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  width: 100vw;


  @include mobile {
    width: 100%;
  }

  @include tablet {
    width: 100%;
    padding: 1rem;
  }

  @include desktop {
    padding: 1rem;
    width: 100%;
  }
}

.timeline-wrapper__header {
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Toronto Subway Bold';
  // border-bottom: 1px solid white;
  margin-bottom: 3rem;
  padding-bottom: 1rem;

  @include desktop {
    font-size: 1.7rem;
    padding-bottom: 2rem;
  }
}

.timeline-item {
  display: flex;
  align-items: center;
  width: 100%;
  // height: 14rem;
  padding: 0rem 1.5rem;
  gap: 1rem;
  transition: all 0.3s ease;
  animation: slideDown 0.5s ease;
  row-gap: 1rem;
  filter: brightness(1);
  box-shadow : 0 0 20px 0 transparent;

  &:hover {
    background-color: darken(#424445, 9%);
    // background-color: #122632;
    // background-color: transparent;
    border-radius: 0px;
    color: #ffffff;
    filter: brightness(1);
    cursor: pointer;
    transition: all 0.35s ease;
  }

  @include mobile {
    padding: 0;
  }

  @include tablet {
    gap: 2rem;
  }

  @include desktop {
    gap: 1.75rem;

    // padding: 1rem;
  }

}

.timeline-divider {
  width: 5px;
  height: 90%;
  background-color: #6232c1;
  border: none;

  @include mobile {
    width: 3.5px;
    // margin: 7rem 1rem 7rem 1.5rem;
  }

  @include tablet {
    // margin: 1rem;
  }

  @include desktop {
    // margin: 0.5rem;
  }
}

.timeline-item-time {
  text-align: center;
  width: 35%;
  font-weight: bold;
  color: white;

  @include mobile {
    font-size: 0.8rem;
    width: 35%;
  }

  @include tablet {
    width: 20%;

  }

  @include desktop {
    width: 35%;
  }
}

.timeline-item-content {
  width: 40%;
  // border-radius: 8px;
  // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: -webkit-fill-available;
  text-wrap: wrap;

  @include mobile {
    font-size: 0.9rem;
    line-height: 1.2rem;
    margin: 1rem 0;
  }

  @include tablet {
    padding: 1.5rem 0;
  }

  @include desktop {
    padding: 1rem 0;
  }
}

// .timeline-item.is-ended.collapsed {
//   // height: 40px;
//   overflow: hidden;
//   padding: 0.9rem 0;
//   // background-color: #f5f5f5;

//   cursor: pointer;
//   // transition: all 1s ease;
//   animation: slideUp 0.5s ease;


//   &:hover {
//     // background-color: darken(#5271b3, 19%);
//     // background-color: darken(#ffffff, 89%);


//     // transition: all 0.5s ease;
//     // text-decoration-line: none;
//     filter: brightness(1);
//   }
// }

// .timeline-item.is-ended.not-collapsed {
//   // height: 15rem;
//   overflow: visible;
//   padding: 0.9rem;
//   // background-color: #f5f5f5;
//   font-size: 0.85rem;
//   cursor: pointer;
//   // transition: all 1s ease;
//   // animation: slideDown 0.5s ease;


//   &:hover {
//     // background-color: darken(#5271b3, 19%);
//     // background-color: darken(#ffffff, 89%);


//     // transition: all 0.5s ease;
//     // text-decoration-line: none;
//     filter: brightness(1);
//   }
// }

.collapsed {
  // overflow: hidden;
  // padding: 1.4rem 0;
  // margin: -0.2rem 0;

}

.not-collapsed {
  background-color: #292929aa;
  backdrop-filter: blur(10px);
  border-radius: 0px;
  // box-shadow : 0 0 20px 0 rgba(103, 103, 103, 0.2);


  &:hover {


  }
}

.collapse-hidden {
  display: none;
}

.collapse-show {
  display: flex;
}

.ended-hidden {
  display: none;
}



// -------------------- DROP-IN MEALS TIMELINE ----------------------------

.mealsTimeline-upper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.mealsTimeline__meal-type {
  font-family: 'DT Black';
  font-size: 1.3rem;
  width: min-content;

  @include mobile {
    font-size: 1.15rem;
  }
}

.mealsTimeline__meal-time {
  font-family: 'Avenir Next';
  font-size: 1.1rem;
  text-align: start;
  font-weight: 600;

  @include mobile {
    font-weight: 400;
    font-size: 1rem;
  }
}

.mealsTimeline-accessibility-div {
  display: flex;
  gap: 0.5rem;
  position: absolute;
  right: 5%;
}

.mealsTimeline-accessibility-icon {
  scale: 1.1;

  @include mobile {
    scale: 1;
  }
}

.timeline-item-icon {
  font-size: 0.95rem;
}


.mealsTimeline__meal-provider {
  font-family: 'Toronto Subway';
  font-size: 0.9rem;
  display: flex;
  margin-bottom: 0.3rem;
  align-items: center;
  text-wrap: pretty;
  // text-align: end;

  @include mobile {
    align-items: center;
    text-wrap: pretty;
  }

  @include tablet {

  }
}

.mealsTimeline__meal-address {
  display: flex;
  font-size: 0.9rem;
}

.daily-timeline-text {
  margin-left: 0.6rem;
  font-size: 1rem;

  @include mobile {
    margin-left: 0.5rem;
    font-size: 0.8rem;

  }
}

.directions-button {
  margin-top: 0.5rem;
  text-transform: uppercase;
  font-family: 'Avenir Next Bold';
  white-space: normal;
  text-align: center;
  padding: 0.5rem;
  border: 1px solid #313843;
  transition: all 0.3s ease;
  border-radius: 5px;
  color: white;
  background-color: #212d40;
  cursor: pointer;
  text-align: -webkit-center;
  flex-direction: row;
  justify-content: center;
  width: -webkit-fill-available;
  // width: 100%;
  gap: 0.5rem;

  &:hover {
    background-color: white;
    color: #20242c;
    transform: translateY(-2px);
    transition: all 0.5s ease;

  }

  @include mobile {
    padding: 0.2rem 0.5rem;
    width: 95%;
  }
}

// .directions-button:hover {
//   background-color: #40a9ff;
// }

.mealsTimeline-moment-h1 {
  color: white;
  text-align: center;
}







// .previous-event-container {
//   border: 2px solid gray;
//   color: rgba(255, 255, 255, 0.5);
//   background-color: rgba(128, 128, 128, 0.1);
//   width: 25vw;

//   @include mobile {
//     width: 100%;
//     position: sticky;
//     display: none;
//   }

//   @include tablet {
//     display: none;
//   }
// }


// -------------------- END ----------------------------
// -------------------- MEALS TIMELINE  ----------------------------



// EVENT ENDED TIME STRIKETHROUGH
.time-isEnded {
  color: red;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  width: 5rem;
}

.is-ended {
  // EVENT ENDED LABEL -- TOP RIGHT

  // filter: brightness(0.7);
  // height: 5rem;
  // height: 2.1rem;
  // contain: content;
  color: #da3810e2;
  font-style: italic;
  font-size: 0.9rem;
  font-weight: bold;
  // background-color: rgba(255, 255, 255, 1);
  // border: 1px solid rgba(255, 255, 255, 1);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  text-align: center;
  margin: 1rem 0;
  border: 1px solid #da3810e2;


  &::before {
    // content: 'Ended';
    position: absolute;
    color: red;
    font-size: 0.9em;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 1);
    // border: 1px solid rgba(255, 255, 255, 1);
    border: 1px solid red;


    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    text-align: center;
    margin: 1rem 0;


    @include desktop {
      // width: 5rem;
      // left: 0.75rem;
      // left: 1.4vw;
      // width: 10rem;
    }
    @include tablet {
      // left: 0.5rem;

      width: 5.5rem;
    }

    @include mobile {
      left: 0;
      text-align: center;
      width: 4rem;
    }
  }
}


// EVENT ENDED LABEL
.event-ended {
  &::before {
    content: 'Ended';
    position: absolute;
    color: red;
    font-size: 0.9em;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    width: 5rem;

    // @include desktop{
    //   top: 0.5rem;
    //   right: 25px;
    // }

    // @include mobile {
    //   right: 1rem;
    //   top: 0.5rem;
    //   text-align: center;
    // }
  }
}


.happening-now {
  border: 1px solid green;
  background-color: #0c4527;
  animation: pulse 1.5s infinite;
  border-radius: 10px;
  margin: 0.2rem 0;
  width: auto;

  &hover {

  }

  @include mobile {
    // padding: 6rem 0.7rem;
  }
}

.happening-now-text {
  color: white;
  font-style: italic;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  text-align: center;
  margin: 1rem 0;
  border: 1px solid white;

  @include mobile {
    // padding: 6rem 0.7rem;
  }
}


.timeline-wrapper__header {
  text-align: center;
  font-size: 1.3rem;
  font-family: 'Toronto Subway Bold';
  // border-bottom: 1px solid white;
  margin-bottom: 3rem;
  padding-bottom: 1rem;
  cursor: pointer;

  @include desktop {
    font-size: 1.7rem;
    padding-bottom: 2rem;
  }
}

// -------------------- ANIMATIONS  ----------------------------

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #0c4527;
  }
  70% {
    box-shadow: 0 0 0 12px rgba(255, 165, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 165, 0, 0);
  }
}

// @keyframes slideDown {
//   0% {
//     // opacity: 0;
//     transform: translateY(-100%) translateY(-10px);
//   }
//   100% {
//     // opacity: 1;
//     transform: translateX(0px) translateY(0%);
//   }
// }

// @keyframes slideUp {
//   0% {
//     opacity: 1;
//   }
//   100% {
//     // opacity: 0;
//     // transform: translateX(0px) translateY(10px);
//   }
// }

@keyframes slideDown {
  0% {
    height: 1rem;
  }
  100% {
    height: 14rem;
  }
}

@keyframes slideUp {
  0% {
    height: 14rem;
  }
  100% {
    height: 1rem;
  }
}