@use '../../partials/abstracts' as *;
@use '../../partials/fonts' as *;
@use '../../partials/global' as *;
@use '../../partials/variables' as *;

.mealsTimeline-container {
  @include mobile {
  }

  @include tablet {
  }

  @include desktop {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: center;
  }
}

.mealsTimeline-upper {
  display: flex;
  flex-direction: column;
}

.mealsTimeline-live-clock {
  font-size: 2rem;
  color: white;
  text-align: center;
  font-family: 'Toronto Subway';
  letter-spacing: 1.4px;
  line-height: 2.1rem;
  // width: 25rem;

  @include mobile {
    font-size: 1rem;
  }

  @include tablet {
  }

  @include desktop {
    width: 25rem; // needed to fix 'width-glitch' as the clock updates
    place-self: center;
  }
}

.mealsTimeline-live-event-container {
  display: flex;
  text-align: center;

  justify-content: center;

  @include mobile {
    flex-direction: column;
  }

  @include tablet {
    flex-direction: row;
  }

  @include desktop {
    flex-direction: column;
  }
}

.timeline-container {
  height: 75vh;
  overflow-y: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  color: white;
  overflow-x: auto;
  white-space: nowrap;
  position: relative;

  @include mobile {
  }

  @include tablet {
    padding: 1rem;
  }

  @include desktop {
    padding: 1rem;
  }
}

.timeline-wrapper {
  position: relative;
  overflow-x: auto;
  display: flex;
  flex-direction: column;

  @include mobile {
    width: 100%;
  }

  @include tablet {
    width: 100%;
    padding: 1rem;
  }

  @include desktop {
    padding: 1rem;
    width: 100%;
  }
}

.timeline-wrapper__header {
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Toronto Subway Bold';
  border-bottom: 1px solid white;
  padding-bottom: 1rem;
}

.timeline-item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 8rem;
  margin: 1rem 0;
  gap: 1rem;
  row-gap: 1rem;

  @include mobile {
    gap: 0;
    height: 15rem;
  }

  @include tablet {
    padding: 1rem;
  }

  @include desktop {
    padding: 1rem;
  }

  &:hover {
    background-color: #20242c;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
  }
}

.timeline-divider {
  width: 5px;
  height: 100%;
  margin: 1.5rem;
  background-color: #6232c1;
  border: none;
}

.timeline-item-time {
  width: 10%;
  text-align: right;
  margin-right: 1rem;
  font-weight: bold;
  color: white;
}

.timeline-item-content {
  width: 40%;
  // border-radius: 8px;
  border-bottom: 1px solid white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: -webkit-fill-available;
  text-wrap: wrap;

  @include mobile {
    font-size: 0.9rem;
    padding-bottom: 1rem;
    line-height: 1.5rem;
  }

  @include tablet {
    padding: 1.5rem;
  }

  @include desktop {
    padding: 1.5rem;
  }
}

.mealsTimeline-moment-h1 {
  color: white;
  text-align: center;
}

.previous-event-container,
.current-event-container,
.next-event-container {
  // event card containers
  margin: 1rem;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white;
  text-align: center;

  @include mobile {
    margin: 0rem;
    padding: 0.6rem 0.5rem;
    display: flex;
    align-items: end;
    justify-content: space-evenly;
    display: flex;
    gap: 1rem;
  }
}

.previous-event-container {
  border: 2px solid gray;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(128, 128, 128, 0.1);
  width: 25vw;

  @include mobile {
    width: 100%;
    position: sticky;
    display: none;
  }

  @include tablet {
    display: none;
  }
}

.current-event-container {
  border: 1px solid black;
  background-color: #0c4527;
  width: 25vw;
  text-align: -webkit-center;

  @include mobile {
    width: 100%;
    position: sticky;
  }

  @include tablet {
    width: 100%;
  }
}

.next-event-container {
  border: 2px solid #c79c04;
  background-color: #c79d04c2;
  color: white;
  width: 25vw;
  text-align: -webkit-center;

  @include mobile {
    width: 100%;
    position: sticky;
  }

  @include tablet {
    width: 100%;
  }
}

.previous-event-header,
.current-event-header,
.next-event-header {
  // event card headers
  font-size: 1.5rem;
  font-weight: 600;

  @include mobile {
    font-size: 1rem;
    width: 9.9rem;
    place-self: center;
  }

  @include tablet {
    margin-bottom: 1.2rem;
    font-size: 1.3rem;
  }

  @include desktop {
    margin-bottom: 1.2rem;
  }
}

.mealsTimeline-ant-collapse {
  color: white;
  font-family: 'DT Black';
  text-align: center;

  @include mobile {
    width: fit-content;
    padding: 0rem;
  }

  @include tablet {
    width: 100%;
  }
}
.mealsTimeline-ant-collapse-header {
  color: white;
  align-items: baseline;
}

.ant-collapse-header-text {
  // ant dropdown header text
  color: white;
  font-family: 'DT Black';
  text-align: left;
  text-transform: uppercase;
  text-align: center;

  @include mobile {
    font-size: 0.8rem !important;
    letter-spacing: 1.6px;
    align-self: end;
  }

  @include tablet {
    font-size: 1rem;
    padding: 0rem 0.25rem;
  }

  @include desktop {
    font-size: 1.12rem;
    padding: 0rem 0.25rem;
  }
}

.ant-collapse-expand-icon {
  // targets expand icon (arrow)
  color: white;
  order: 2;

  @include mobile {
    padding-inline-end: 0px !important;
    padding-left: 0.5rem;
  }
}

.current-ant-collapse-inner {
  background-color: #20242c;
  color: white;
}

.is-ended {
  filter: brightness(0.5);
  &:hover {
    background-color: #5e5e5e;
    border-radius: 8px;
    transition: all 0.15s ease-in-out;
  }
}

.happening-now {
  border: 1px solid green;
  background-color: #0c4527;
  animation: pulse 1.5s infinite;
  border-radius: 10px;
  width: auto;

  @include mobile {
    padding: 6rem 0.7rem;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #0c4527;
  }
  70% {
    box-shadow: 0 0 0 12px rgba(255, 165, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 165, 0, 0);
  }
}

.directions-button {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  padding: 0.3rem 5rem;
  font-size: 0.9rem;
  color: white;
  font-family: 'Avenir Next';
  font-weight: 600;

  &:hover {
    background-color: white;
    color: #0f0f0f;
    border: 1px solid #0f0f0f;
    transition: all 0.3s ease-in-out;
  }

  @include mobile {
    padding: 0.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
