@use '../../partials/abstracts' as *;
@use '../../partials/fonts' as *;
@use '../../partials/global' as *;
@use '../../partials/variables' as *;

.mission__section {
  &__div {
    display: flex;

    &-h1 {
      color: $pastel-blue2;
      font-size: 2.5rem;
      font-weight: 800;
      padding-left: 1.5rem;
      padding-top: 1rem;
    }
  }
}

.mission__div {
  padding: 3.8rem;
  display: flex;
  justify-content: center;

  &-inner {
    width: auto;
  }

  &-header {
    width: auto;
    margin: 0 auto;
  }

  &-text {
    max-width: 36rem;
    min-width: 14rem;
    font-size: 1rem;
    line-height: 1.625;
    font-weight: 400;
    hyphens: auto;
    word-wrap: normal;
    text-align: justify;
    margin-top: 1rem;
    margin-bottom: 1rem;

    @include desktop {
      font-size: 1.1rem;
    }
  }

    &-logo-container {
      display: flex;
      justify-content: center;
      padding: 2rem;
    }

  &-logo {
    height: 20rem;
    width: 20rem;
    min-height: 2vw;
  }
}