@use '../../partials/abstracts' as *;
@use '../../partials/fonts' as *;
@use '../../partials/global' as *;
@use '../../partials/variables' as *;

.footer {
  // background-color: #8893b5;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  z-index: -2;
  position: relative;
  background-color: black;

  @include mobile {
    padding: 2rem;
    // margin:1rem;
  }
}

// ----------------- LEFT FOOTER -----------------
.footer-brand {
  font-size: 2rem;
  display: flex;
  justify-content: flex-start;
  color: white;

  @include mobile {
    // font-size: 1.6rem;
  }
}

.footer__list {
  display: grid;
}

.footer__item {
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-family: 'Toronto Subway';
  padding: 1rem 3rem 0.5rem 0;
  letter-spacing: 1.4px;
  color: white;
  text-transform: uppercase;
  width: fit-content;
  transition: all 0.4s ease-in-out;

  @include mobile {
    font-size: 1.39rem;

    &:active {
      transition: all 0.4s ease-in-out;
      background-color: white;
      color: #cca6af;
      border-radius: 0 40px 0 50px;
      width: 100%;
    }
  }

  @include tablet {
    font-size: 1.39rem;

    &:active {
      transition: all 0.4s ease-in-out;
      background-color: white;
      color: #cca6af;
    }
  }

  @include desktop {
    font-size: 1.39rem;
    // padding: 0.5rem 1rem 0.6rem 30rem;

    &:hover {
      transition: all 0.5s ease;
      text-decoration: underline;
      text-shadow: 0 2px 1px rgba(229, 228, 255, 0.5);
    }
  }
}

// ----------------- MIDDLE FOOTER -----------------
.footer-div__slogan-h2 {
  color: white;
  font-size: 2rem;
  display: flex;
  width: auto;
  margin: 0 auto;
  letter-spacing: 5px;
  font-variant: all-petite-caps;
  font-family: 'Toronto Subway Bold';
  text-align: center;
  place-content: center;
  background-color: black;

  @include mobile {
    font-size: 1.6rem;
  }

  @include tablet {
    font-size: 1.5rem;
  }

  @include desktop {
  }
}

.footer-div__logo {
  width: 15rem;
  height: 15rem;
  margin: 1rem;
}

.footer-left {
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  font-size: 1rem;
  color: rgb(255 255 255 / 30%);
  background-color: #262626;
  justify-content: flex-start;
  width: 33%;
  background-color: black;
  justify-content: space-between;
}

.footer-middle {
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  font-size: 1rem;
  font-style: italic;
  color: rgb(255 255 255 / 30%);
  background-color: #262626;
  align-items: center;
  width: 33%;
  background-color: black;
  align-self: center;

  @include mobile {
    display: none;
  }
}

.footer-right {
  display: inline-flex;
  flex-direction: column;
  padding: 1rem;
  width: 33%;
  align-items: flex-end;
  background-color: black;

  @include mobile {
    display: none;
  }

  @include tablet {
    display: none;
  }
}

.footer-right__social-links {
  text-decoration: none;
  font-family: 'Toronto Subway Bold';
  color: white;
}

.footer-bottom {
  display: flex;
  place-content: center;
  background-color: black;
  z-index: -3;
  position: relative;

  @include mobile {
    position: relative;
    z-index: -2;
  }
}

.copyright-disclaimer {
  display: flex;
  text-align: center;
  width: max-content;
  font-variant: all-small-caps;
  color: #54545466;
}
