@use '../../partials/abstracts' as *;
@use '../../partials/fonts' as *;
@use '../../partials/global' as *;
@use '../../partials/variables' as *;

.sheltersCard__Btn {
  margin-right: 0.1rem;
  width: 120px;
  height: 3rem;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 5px;
  transition: all 0.3s ease;
  background-color: #6c85ba;
  background-color: #2b2b2b;
  color: #ffffff;
  cursor: pointer;
  letter-spacing: 2px;

  &:hover {
    background-color: rgba(128, 128, 128, 0.118);
    border: 1px solid white;
    color: #f8faff;
    transition: all 0.4s ease-in-out;
  }

  &:active {
    transform: scale(0.98);
  }

  &:focus {
    outline: none;
  }
}

.button-container {
  display: inline-flex;
  padding-left: 1rem;
}

.btn {
  &--All,
  &--Beds,
  &--Rooms {
    // padding:1rem;
    text-transform: uppercase;
    white-space: normal;
    text-align: center;
    box-shadow: inset 0 0 0 2px #00000019;
    border: 1px solid #c3cbdc;
    transition: all 0.3s ease;
    width: -webkit-fit-content;
    transition: all 1s ease-in-out;

    @include mobile {
      min-width: 9rem;
    }
    @include tablet {
      min-width: 9rem;
    }
    @include desktop {
      min-width: 9rem;
    }

    &:hover {
      border: 1px solid white;
      background-color: ghostwhite;
    }
    &:not(.selected) {
      // background-color: #8080803a;
      border: 1px solid white;
      // color: #2f4066;
      background-image: linear-gradient(170deg, #5870a9 9%, #edf1f4 176%);
      background-color: #2b2b2b;
      display: contents;
      padding: 0.5rem;
    }

    &.selected {
      // color:#486197;
      // margin-left: 1rem;
      // margin-right: 1rem;
      top: 9rem;
      border: 1px solid white;
      // background-color: rgba(128, 128, 128, 0.118);
      // background-image: linear-gradient(180deg, #5870a9 9%, #edf1f4 156%);
      // background-image: radial-gradient( #edf1f4 0%,#5870a9 90%);
      background-size: 100% 100%;
      background-position:
        0px 0px,
        0px 0px,
        0px 0px,
        0px 0px,
        0px 0px;
      background-image: radial-gradient(
          75% 75% at 50% 50%,
          #e8e8e89c 100%,
          #073aff00 100%
        ),
        repeating-radial-gradient(
          75% 75% at 238% 218%,
          #00ffff12 30%,
          #073aff14 39%
        ),
        radial-gradient(99% 99% at 109% 2%, #00c9ffff 0%, #073aff00 100%),
        radial-gradient(160% 154% at 711px -303px, #2000ffff 0%, #073affff 27%);
      border: 1px solid white;
      color: ghostwhite;
      width: -webkit-fit-content;
      // padding: 1rem;
      transition: all 1s ease-in-out;
    }
  }

  &--Icon {
    height: 1.2rem;
    color: white;
    padding-right: 1rem;
    display: inline;
  }

  &--Text {
    font-size: 1.4rem;
    // padding: 1rem;

    // Underline animation:
    // padding-bottom: 10px;
    color: white;
    position: relative;
    box-shadow: 0px -4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    &::after {
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      left: 0;
      bottom: 0;
      opacity: 0;
      transform: translateY(3px);
      background: white;
      transition:
        opacity 0.2s ease,
        transform 0.2s ease;
    }

    &:hover::after {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &--Filter-All {
    margin-right: -0.5rem;
  }
}
