@use '../../partials/abstracts' as *;
@use '../../partials/fonts' as *;
@use '../../partials/global' as *;
@use '../../partials/variables' as *;

.detailed-view__container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: start;
  background-color: rgb(0, 0, 0);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  text-align: -webkit-auto;
  vertical-align: baseline;
  vertical-align: -webkit-baseline-middle;
  align-self: center;

  @include mobile {
    height: 36vh;
    // padding-bottom: 3rem;
  }

  @include tablet {
    padding-bottom: 3.5rem;
    justify-content: center;
  }
}

.detail-row {
  display: contents;

  &__label {
    grid-column: 1;
    font-weight: bold;
    font-size: 0.5rem;
    text-align: right;
    width: 100%;
    color: white;
    padding-right: 0.6rem;
    align-self: center;
    font-family: 'Avenir Next';
    white-space: pre-line;
    font-family: 'Avenir Next';
    line-height: 1.5rem;
    font-variant-caps: all-petite-caps;

    @include mobile {
      font-size: 1rem;
    }

    @include tablet {
      font-size: 1.1rem;
    }
  }

  &__value {
    grid-column: 3;
    font-size: 0.5rem;
    text-align: left;
    width: 100%;
    color: white;
    padding-left: 0.6rem;
    align-self: center;
    white-space: pre-line;
    font-family: 'Avenir Next';
    font-weight: 400;
    line-height: 1rem;
    letter-spacing: 0.3px;
    font-variant-caps: all-petite-caps;
    border-left: 2px solid #6232c1;

    @include mobile {
      font-size: 1rem;
    }

    @include tablet {
      font-size: 1.3rem;
    }
  }
}
