@use '../../partials/abstracts' as *;
@use '../../partials/fonts' as *;
@use '../../partials/global' as *;
@use '../../partials/variables' as *;

html {
  min-width: -webkit-fit-content;
}

h3 {
  display: inline;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.shelter-section {
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: white;
  border-radius: 30px;
  background-color: #aaa0b009;
  min-width: -webkit-min-content;
  box-shadow: 0 0px 14px -4px rgb(155 155 155);

  @include mobile {
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: white;
    border-radius: 30px;
    // box-shadow: 0 4px 90px 0 rgba(0, 0, 0, 0.5);
    margin: 3vw;
    background-color: #aaa0b009;
    min-height: fit-content;
    padding: 5rem 1rem 5rem 1rem;
  }

  @include tablet {
    margin: 1.25rem;
    padding: 5rem 1rem 5rem 1rem;
  }

  @include desktop {
    margin: 1.25rem;
    padding: 2rem;
  }
}

.shelter-section__upper {
  padding-bottom: 1rem;
}

.shelter-section__header {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: ghostwhite;
  font-family: 'Junction Light', 'Junction Bold', "Toronto Subway", "Toronto Subway Bold";
  text-wrap: nowrap;
  font-weight: 800;
  border-radius: 10px;
  padding: 1rem;
  border-radius: 10px;
  backdrop-filter: opacity(0.5);

  @include mobile {
    font-size: 3.1rem;
  }

  @include tablet {
    font-size: 5.5vw;
  }

  @include desktop {
    font-size: 3.2vw;
  }
}

.shelter-section__subHeader {
  font-family: 'Junction Light', 'Junction Bold';
  font-weight: 800;
  font-size: 1.4rem;
  color: ghostwhite;
  background-image: linear-gradient(170deg, #262729 9%, #313232 96%);
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid ghostwhite;
  display: flex;
  align-items: center;
}
// ----------------- BUTTONS -----------------

.shelter-item__actions-btn {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 20vw;
  max-width: 100%;
  height: 2.5rem;
  font-weight: 700;
  font-size: 0.9rem;
  background-color: #5271b3;
  color: #ffffff;
  border: 1px solid #c3cbdc;
  border-radius: 5px;
  box-shadow: inset 0 0 0 2px #00000019;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  // padding: 1rem;
  transition: all 0.3s ease;
  min-width: -webkit-fill-available;

  &:hover {
    border: 1px solid white;
    // background-image: linear-gradient(170deg, #5870a9 9%, #edf1f4 96%);
    background-color: #486197;
    color: white;
  }

  @include mobile {
    // min-width: 11rem;
    min-width: 100%;
  }

  @include tablet {
    min-width: 100%;
    display: inline-flex;
    //   height: 2.5rem;
    //   font-size: 0.9rem;
  }
}
.btn {
  &--Directions-Text,
  &--Share-Text {
    font-size: 0.85rem;
  }

  &--Directions-Icon,
  &--Share-Icon {
    height: 1.2rem;
    color: white;
    padding-right: 1rem;
    display: inline;
  }
}

.shelter-section__lower {
  display: flex;
  justify-content: space-between;
  height: 40rem;
  gap: 3rem;

  @include mobile {
    display: inline-flex;
    flex-direction: column;
    height: 130vh;
  }

  @include tablet {
    display: flex;
    justify-content: space-between;
    height: 40rem;
    gap: 2rem;
  }

  @include desktop {
    gap: 20px;
  }
}

.shelter-scrollable-container {
  overflow: hidden visible;
  max-height: fit-content;
  overflow-y: auto;
  box-sizing: border-box;
  border-radius: 5px;
  // min-width: 37rem;// THIS ONE
  // background-image: linear-gradient(307deg, #c3cbdc 23%, #edf1f4 66%); // SILVER WHITE GRADIENT DESIGN
  // background: conic-gradient(from 242deg at 132% -20%, #5870a9, #7d75ad, #9c7cae, #b583ac, #ca8daa, #da99a8, #e6a6a7, #eeb5a9); // BLUE / PEACH DESIGN V1
  // background: conic-gradient(from 227deg at 191% -35%, #5870a9, #7d75ad, #9c7cae, #b583ac, #ca8daa, #da99a8, #e6a6a7, #eeb5a9); // BLUE / PEACH DESIGN V2
  // background: conic-gradient(from 780deg at 64% 68%, #5870a9 0%, #7d75ad 12%, #eeb5a9 8%, #b583ac 44%, #eeb5a9 48%, #5870a9 82%, #eeb5a9 98%, #5870a9 88%, #eeb5a9 100%); // EXPLOSION DESIGN
  // background: conic-gradient(from 150deg at 49% 32%, #5870a9 0%, #7d75ad 8%, #9c7cae 23%, #b583ac 39%, #ca8daa 56%, #da99a8 73%, #e6a6a7 89%, #eeb5a9 100%); // ANGLED BOTTOM RIGHT DESIGN
  // background: conic-gradient(from 180deg at 65% 30%, #5870a9 0%, #7d75ad 14%, #9c7cae 30%, #b583ac 46%, #ca8daa 62%, #da99a8 78%, #e6a6a7 92%, #eeb5a9 100%); // VERTICAL DIVIDER DESIGN
  background: conic-gradient(
    from 270deg at 59.2% 48.5%,
    #5870a9 0%,
    #7d75ad 15%,
    #9c7cae 30%,
    #b583ac 45%,
    #ca8daa 60%,
    #da99a8 75%,
    #e6a6a7 90%,
    #eeb5a9 100%
  );
  min-width: -webkit-min-content;
  max-width: -webkit-fit-content;

  &:hover {
    transition: all 4s ease-in-out;

    //   background: conic-gradient(
    //   from 270deg at 59.2% 48.5%,
    //   #5870a9 0%,
    //   #7d75ad 15%,
    //   #9c7cae 30%,
    //   #b583ac 45%,
    //   #ca8daa 60%,
    //   #da99a8 75%,
    //   #e6a6a7 90%,
    //   #eeb5a9 100%
    // );
  }

  &::-webkit-scrollbar {
    display: none; //  hides the scrollbar
  }

  @include mobile {
    // min-width: 30rem; // THIS ONE
    height: 100vh;
  }

  @include tablet {
    min-width: min-content; // THIS ONE
  }

  @include desktop {
    // min-width: 50rem; // THIS ONE
    // width:min-content;
    // min-width: 42%;
    // width: -webkit-fit-content;
  }
}

.shelter-list {
  line-height: 1.8;
  display: block;
  letter-spacing: 0.04rem;
}

.shelter-item {
  display: flex;
  border-bottom: 4px solid; // Visual seperator (vertical)
  border-image: radial-gradient(
    75% 75% at 50% 50%,
    #e3e9f3 100%,
    #073aff00 0%
  ); // Visual seperator (vertical)
  border-image-slice: 1; // Visual seperator (vertical)
  padding: 1rem;
  background-color: rgba(53, 55, 59, 0.19);
  width: 100%;
  height: 100%;
  z-index: 9;
  backdrop-filter: blur(5px);
  transition: all 1s ease-in-out;

  &:hover {
    background-image: linear-gradient(
      147deg,
      #c3cbdc24 23%,
      #80808016 10% #e0f2ff24 66%
    );
    transition: all 1s ease-in-out;
  }
}

.shelter-item__content {
  display: flex;
  justify-content: start;
  align-items: center;

  @include mobile {
    line-height: 1.2rem;
  }
}

.shelter-item__left {
  // DO NOT CHANGE
  display: flex;
  flex-direction: column;
  width: 50%;
  // min-width: 19rem;
  padding: 1rem;
  // DO NOT CHANGE
  line-height: 2rem;
  min-width: -webkit-min-content;
  max-width: -webkit-fit-content;
  @include mobile {
    width: 50%;
    margin-left: 1rem;
  }

  @include tablet {
    width: 35%;
    margin-left: 1rem;
  }

  @include desktop {
    width: 46%;
  }
}

.shelter-item__left-inner {
  // padding-bottom: 1vw;
  display: inline-flex;
  flex-direction: column;
  gap: 1rem;
}

.shelter-item__title {
  display: flex;
  justify-content: center;

  @include mobile {
    padding-bottom: 5vw;
    line-height: 2rem;
  }
}

.shelter-item__text {
  flex-basis: min-content;
  display: inline-flex;
  padding: 1rem;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  // font-family: 'Bungee Shade', sans-serif;
  font-family: "Toronto Subway Bold";
  // background-image: linear-gradient(147deg, #c3cbdc24 23%, #e0f2ff24 66%);
  // backdrop-filter: blur(25px);
  // backdrop-filter: invert(1);

  border-radius: 5px;

  &:hover {
    text-shadow: 0 2px 4px rgba(229, 228, 255, 0.9);
    transition: all 1s ease-in-out;
  }

  @include mobile {
    font-size: 3rem;
    line-height: 3rem;
  }
  @include tablet {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  @include desktop {
    font-size: 3rem;
    line-height: 3.25rem;
    min-width: 22rem;
  }
}

.shelter-item__details {
  padding: 0.6rem;
  background-image: linear-gradient(135deg, #6d5dfc 0%, #c792ec 100%);
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;

  @include desktop {
    min-width: fit-content;
  }
}

.shelter-item__availability {
  color: ghostwhite;
  font-size: 0.8rem;
  line-height: 1.6;
  font-weight: normal;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2.1rem;
  min-width: max-content;

  @include mobile {
    font-size: 0.8rem;
  }

  @include tablet {
    font-size: 0.8rem;
  }
}

.shelter-item__actions {
  display: block;

  &-btn {
    background-color: #5271b3;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.6rem 1.2rem;
    margin-top: 1.2rem;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.12);

    &:hover {
      background-color: darken(#5271b3, 15%);
      transform: translateY(-2px);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
      border: 1px solid #5271b3;
    }
  }
}

.shelter-item__divider {
  height: 100%;
  align-self: center;
}

.shelter-item__right {
  // DO NOT CHANGE
  display: flex;
  flex-direction: column;
  padding: 1rem;
  // DO NOT CHANGE
  line-height: 1.6rem;

  @include mobile {
    // min-width: -webkit-fit-content;
    width: 15rem;

    margin-right: 1rem;
  }

  @include tablet {
    // min-width: -webkit-fit-content;
    width: 15rem;

    margin-right: 1rem;
  }

  @include desktop {
    // min-width: -webkit-fit-content;
    width: 15rem;
  }
}

.shelter-item__right-inner {
  padding-bottom: 2vh;
  border-radius: 10px;
  box-shadow: 1px -2px 10px rgba(0, 0, 0, 0.1);
  padding: 0.6rem;
  border-radius: 8px;
  margin-top: 0.7rem;
  backdrop-filter: invert(1);

  @include mobile {
    font-size: 1.02rem;
  }

  @include tablet {
    font-size: 1.1rem;
  }

  @include desktop {
    font-size: 1rem;
  }
}

.shelter-item__right-title {
  color: white;
  margin-bottom: 0.6rem;
  font-weight: 600;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  @include mobile {
    font-size: 0.85rem;
  }

  @include tablet {
    font-size: 0.85rem;
  }

  @include desktop {
    font-size: 0.9rem;
  }
}

.shelter-item__right-text {
  font-weight: 600;
  max-width: fit-content;
  color: #2a445e;
  color: ghostwhite;
  margin-left: 0.7rem;
  padding-left: 0.7rem;
  border-left: #7e67f9 solid 2px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);

  @include mobile {
    font-size: 0.85rem;
  }

  @include tablet {
    font-size: 0.85rem;
  }

  @include desktop {
    font-size: 0.85rem;
  }
}
