@use '../../partials/abstracts' as *;
@use '../../partials/fonts' as *;
@use '../../partials/global' as *;
@use '../../partials/variables' as *;

.banner-container {
  width: 100%;
  overflow: hidden;
  background-color: #ffcc00;
  text-align: center;
  font-size: 0.9rem;
  font-weight: bold;
  color: black;
  position: relative;
  z-index: -1;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mobile {
    padding: 2.5rem 0.77rem;
  }

  @include tablet {
    padding: 1rem;
  }

  @include desktop {
    padding: 1.5rem;
  }
}

.banner-content {
  display: inline-block;
  line-height: 1rem;
  font-size: 0.75rem;
  text-wrap: balance;

  @include mobile {
    line-height: 0.9rem;
    font-size: 0.7rem;
  }
  @include desktop {
    font-size: 0.85rem;
  }
}

.phone-link {
  color: #0000ee;
  text-decoration: underline;

  &:hover {
    color: #551a8b;
    text-decoration: underline;
  }
}
