@use '../../partials/abstracts' as *;
@use '../../partials/fonts' as *;
@use '../../partials/global' as *;
@use '../../partials/variables' as *;

body,
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

.header{

}

.navbar {
  overflow: hidden;
  background-color: white;
  height: fit-content;
  min-height: 6rem;
  padding: 0.5rem;

  &__div {
    display: flex;
    align-self: left;
    justify-content: space-around;
    align-items: center;

    &-logo {
      height: 5vw;
      width: 5vw;
      min-height: 2vw;
      display: inline;
    }
  }

  &__div-item {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    align-items: baseline;
    padding: 14px;
    text-decoration: none;
    color: black;
    font-size: larger;
  }
}

.sticky {
  position: fixed; // Changed from sticky to fixed
  top: 0;
  width: 100%;

  z-index: 1000; // Ensure it's above other elements
}

.sticky + .content {
  padding-top: 60px;
}

.page-content {
  width: 30em;
  margin: 0 auto;
  line-height: 1.625;
  padding-top: 10rem;
}

// .content {
//   padding: 16px;
// }

.sticky + .content {
  padding-top: 60rem;
}

// p {
//   padding-top: 10rem;
// }
