@use '../../partials/abstracts' as *;
@use '../../partials/fonts' as *;
@use '../../partials/global' as *;
@use '../../partials/variables' as *;

.exploreMaps-section {
  display: flex;
  flex-direction: row;
  align-items: left;
  background-color: white;
  border-radius: 30px;
  background-color: #aaa0b009;
  min-height: fit-content;
  margin: 5rem 0;
  padding: 2rem 1rem;
  height: 60vh;
  place-content: center;

  margin: 3rem 1rem 3rem 1.25rem;
  padding: 0rem 3rem 2.5rem 3rem;
  box-shadow:
    0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.1);
}

.exploreMaps-map-1-container,
.exploreMaps-map-2-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.exploreMaps-link {
  display: flex;
  flex-direction: column;
}

.exploreMaps-title {
  color: white;
  font-family: 'Junction Light', 'Junction Bold', 'Toronto Subway',
    'Toronto Subway Bold';
  text-wrap: nowrap;
  font-weight: 800;
  border-radius: 10px;
  backdrop-filter: opacity(0.5);
  text-align: center;

  @include mobile {
    // font-size: 2.2rem; // CULPRIT #1 - FIXED
    font-family: 'Toronto Subway';
    font-variant: all-small-caps;
    font-size: 2rem;
    line-height: 1.5rem;
    display: flex;
    align-self: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    letter-spacing: 1.5px;
    text-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  @include tablet {
    font-size: 2.5rem;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-wrap: nowrap;
  }

  @include desktop {
    font-size: 3.4rem;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-wrap: nowrap;
  }
}

.exploreMaps-shelters-screenshot,
.exploreMaps-drop-in-screenshot {
  // width: 100%;
  height: 10rem;
  scale: 0.7;
  cursor: pointer;
  transition: all 1s ease;
  height: 20rem;

  &:hover {
    scale: 1.05;
  }
}
