@use '../../partials/abstracts' as *;
@use '../../partials/fonts' as *;
@use '../../partials/global' as *;
@use '../../partials/variables' as *;

.loading-message {
  animation:
    fadeIn 4s,
    pulsate 1.5s ease-in-out infinite;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 5rem;
  color: white;
  display: flex;
  justify-content: center;

  @include mobile {
    width: 40rem;
    padding: 10rem;
  }

  @include tablet {
    width:90vw;
    padding: 10rem;
  }
}

.loadMoreBtn {
  background-color: #5271b3;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  margin-top: 5.2rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.12);
  width: 100%;
  letter-spacing: 1px;

  &:hover {
    background-color: darken(#5271b3, 15%);
    // transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    // padding-top: 4rem;
    transition: all 0.4s ease-in-out;
  }

  &-text {
    font-size: 1.2rem;

    &:hover {
      color: white;
    }
  }
}
