@use '../../partials/abstracts' as *;
@use '../../partials/fonts' as *;
@use '../../partials/global' as *;
@use '../../partials/variables' as *;


.loading-message {
  animation:
  fadeIn 4s,
  pulsate 1.5s ease-in-out infinite;
  text-align: center;
  font-size: 24px;
  margin-top: 5rem;
  color:white;
}

.loadMoreBtn {
  background-color: #5271b3;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  margin-top: 1.2rem;
  box-shadow: 0 3px 5px rgba(0,0,0,0.12);
  width:100%;
  letter-spacing: 1px;

  &:hover {
    background-color: darken(#5271b3, 15%);
    // transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0,0,0,0.15);
    border: 1px solid #5271b3;
    cursor: pointer;
  }

  &-text {
    font-size: 1.2rem;

    &:hover {
      color: white;
    }
  }
}