@use '../../partials/abstracts' as *;
@use '../../partials/fonts' as *;
@use '../../partials/global' as *;
@use '../../partials/variables' as *;

body {
  background-color: rgb(38, 38, 38);
  height: 100%;
  width: 100%;
}

.hero {
  display: flex;
  justify-content: space-evenly;
  align-self: flex-start;
  align-items: center;
  align-content: center;
  min-height: 58vw;
  background-color: #6a5f62;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  flex-wrap: wrap;
  animation: heroFadeIn 6s ease-out;

  @include mobile {
    min-height: 100vh;

    background-size: cover;
    background-position: center;
    overflow: hidden;
  }

  @include tablet {
    min-height: 100vh;
    max-width: 110vw;
    background-size: cover;
    background-position: center;
    overflow: hidden;
  }

  @include desktop {
    min-height: 100vh;
    max-width: 110vw;
    background-size: cover;
    background-position: center;
    overflow: hidden;
  }
}

@keyframes heroFadeIn {
  from {
    opacity: 0;
  }
  to {

    opacity: 1;
  }
}