@font-face {
	font-family: 'Avenir Next';
	src: url(../assets/fonts/AvenirNextLTPro-Regular.otf) format('opentype');
	font-weight: 400;
}

@font-face {
	font-family: 'Avenir Next Bold';
	src: url(../assets/fonts/AvenirNextLTPro-Bold.otf) format('opentype');
	font-weight: 700;
	font-size: larger;
}
