@font-face {
	font-family: 'Avenir Next';
	src: url(../assets/fonts/AvenirNextLTPro-Regular.otf) format('opentype');
	font-weight: 400;
}

@font-face {
	font-family: 'Avenir Next Bold';
	src: url(../assets/fonts/AvenirNextLTPro-Bold.otf) format('opentype');
	font-weight: 700;
	font-size: larger;
}

// League Spartan Fonts

@font-face {
	font-family: 'League Spartan Black';
	src: url(../assets/fonts/League_Spartan/LeagueSpartan-Black.otf) format('opentype');
}

@font-face {
	font-family: 'League Spartan ExtraLight';
	src: url(../assets/fonts/League_Spartan/LeagueSpartan-ExtraLight.otf) format('opentype');
}

@font-face {
	font-family: 'League Spartan Light';
	src: url(../assets/fonts/League_Spartan/LeagueSpartan-Light.otf) format('opentype');
}

@font-face {
	font-family: 'League Spartan Medium';
	src: url(../assets/fonts/League_Spartan/LeagueSpartan-Medium.otf) format('opentype');
}

@font-face {
	font-family: 'League Spartan Regular';
	src: url(../assets/fonts/League_Spartan/LeagueSpartan-Regular.otf) format('opentype');
}

@font-face {
	font-family: 'League Spartan SemiBold';
	src: url(../assets/fonts/League_Spartan/LeagueSpartan-SemiBold.otf) format('opentype');
}

@font-face {
	font-family: 'League Spartan Bold';
	src: url(../assets/fonts/League_Spartan/LeagueSpartan-Bold.otf) format('opentype');
}

@font-face {
	font-family: 'League Spartan ExtraBold';
	src: url(../assets/fonts/League_Spartan/LeagueSpartan-ExtraBold.otf) format('opentype');
}

// DT Getai Grotesk Display Fonts
@font-face {
	font-family: 'DT Black';
	src: url(../assets/fonts/DTGetaiGroteskDisplay-Black.otf) format('opentype');
}

// DT Getai Grotesk Display Fonts
@font-face {
	font-family: 'Junction Regular';
	src: url(../assets/fonts/Junction-regular.otf) format('opentype');
}

// DT Getai Grotesk Display Fonts
@font-face {
	font-family: 'Junction Light';
	src: url(../assets/fonts/Junction-light.otf) format('opentype');
}

// DT Getai Grotesk Display Fonts
@font-face {
	font-family: 'Junction Bold';
	src: url(../assets/fonts/Junction-bold.otf) format('opentype');
}

// Ostrich Fonts
@font-face {
	font-family: 'Ostrich Sans Bold';
	src: url(../assets/fonts/OstrichSans-Bold.otf) format('opentype');
}

@font-face {
	font-family: 'Ostrich Heavy';
	src: url(../assets/fonts/OstrichSans-Heavy.otf) format('opentype');
}

@font-face {
	font-family: 'Ostrich Light';
	src: url(../assets/fonts/OstrichSans-Light.otf) format('opentype');
}

@font-face {
	font-family: 'Ostrich Inline Italic';
	src: url(../assets/fonts/OstrichSansInline-Italic.otf) format('opentype');
}

@font-face {
	font-family: 'Ostrich Inline Regular';
	src: url(../assets/fonts/OstrichSansInline-Regular.otf) format('opentype');
}

@font-face {
	font-family: 'Bungee Shade';
	src: url(../assets/fonts/Bungee-Shade.woff) format('woff');
}