/*======================= Primary Color Pallete ======================= */

$pastel-rose:#eeb5a9;
$pastel-pink:#cca6af;
$pastel-purp:#aaa0b0;
$pastel-grey: #8893b5;
$pastel-blue: #6c85ba;
$pastel-blue2: #5870a9;
$core-grey: #141414;




/*======================= Secondary Colors ======================= */



/*======================= Media Breakpoints ======================= */

$desktop: 1280px;
$tablet: 768px;
$mobile: 320px;
