/*======================= Primary Color Pallete ======================= */
$pastel-rose: #f7c7bc;
$pastel-rose: #ffdbd2;
$pastel-rose: #ffece6;
$pastel-rose: #fff6f3;
$pastel-rose: #ffffff;

$pastel-rose:#eeb5a9;
$pastel-pink:#cca6af;
$pastel-purp:#aaa0b0;
$pastel-grey: #8893b5;
$pastel-blue: #6c85ba;

$pastel-blue: #5870a9;
$pastel-blue: #41539e;
$pastel-blue: #2d3a97;
$pastel-blue: #1c268b;
$pastel-blue: #0f147c;


/*======================= Secondary Colors ======================= */

$darkBlack: #000000;
$darkBlue: #0065ad;
$mercury: #e1e1e1;
$alabaster: #fafafa;

/*======================= Media Breakpoints ======================= */

$desktop: 1280px;
$tablet: 768px;
$mobile: 320px;
